<html>
  <head>
    <title>
      Jue's blog
    </title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>
        published: 28.08.2017, 14:54
      </p>
      <h2><a href="">My first post</a></h2>
      <p>
        It seems easy and hard at the same time. Maybe It's only because I'm not familiar with it. that's all. It's getting better.
      </p>
    </div>

    <div>
      <p>
        published: 28.08.2017, 14:57
      </p>
      <h2><a href="">My second post</a></h2>
      <p>
        But there's only one week left for me to get into the real project dealing with the real business with web application. I have to get better and do my best for it.
      </p>
    </div>
  </body>
</html>
